.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #18a2a7;
    transition: width 0.3s ease-in-out;
}

.nav-menu li:hover::after {
    width: 100%;
}

.nav-menu li.active::after {
    width: 100%;
    background: #e72dce; /* Different color for active if you like */
}

.logo {
    height: 120px;
    width: auto;
    max-width: 100%;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #e72dce 0.36%, #18a2a7 99.64% );
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.10);
    transition: 0.3s;
    box-shadow: 0 0 20px #e72dce, 0 0 30px #18a2a7;
}






@media (max-width: 768px) {
    .logo {
        height: 40px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 30px;
    }
}
