.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #18a2a7;
    transition: width 0.3s ease-in-out;
}

.nav-menu li:hover::after {
    width: 100%;
}

.nav-menu li.active::after {
    width: 100%;
    background: #e72dce; /* Different color for active if you like */
}

.logo {
    height: 120px;
    width: auto;
    max-width: 100%;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #e72dce 0.36%, #18a2a7 99.64% );
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
}

.nav-connect:hover{
    transform: scale(1.10);
    transition: 0.3s;
    box-shadow: 0 0 20px #e72dce, 0 0 30px #18a2a7;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 999;
}



@media (max-width: 992px) {
  .navbar {
    margin: 20px 50px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 18px;
    right: 20px;
  }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        position: absolute;
        top: 80px;
        left: auto;
        right: 20px;
        width: 200px;
        background: black;
        flex-direction: column;
        gap: 20px;
        font-size: 22px;
        padding: 20px;
        display: none;
        border-radius: 10px;
        box-shadow: 0 0 20px #e72dce, 0 0 30px #18a2a7;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-connect {
        display: none;
    } 

    .logo {
        height: 60px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 40px;
    }
}
